EXNO:1

In [ ]:
class Node:
    def __init__(self, key):
        self.left = None
        self.right = None
        self.val = key

def inorderTraversal(root):
    if root:
        inorderTraversal(root.left)
        print(root.val, end=" ")
        inorderTraversal(root.right)

root = Node('A')
root.left = Node('C')
root.left.left = Node('D')
root.left.right = Node('B')
root.left.right.right = Node('F')
root.right = Node('E')

inorderTraversal(root)

D C B F A E

In [ ]:
class Node:
    def __init__(self, key):
        self.left = None
        self.right = None
        self.val = key

def preorderTraversal(root):
    if root:
        print(root.val, end=" ")
        preorderTraversal(root.left)
        preorderTraversal(root.right)

# Creating a binary tree
root = Node('A')
root.left = Node('C')
root.left.left = Node('D')
root.left.right = Node('B')
root.right = Node('E')
root.right.right = Node('F')

# Performing preorder traversal
preorderTraversal(root)

A C D B E F

In [ ]:
class Node:
    def __init__(self, key):
        self.left = None
        self.right = None
        self.val = key

def postorderTraversal(root):
    if root:
        postorderTraversal(root.left)
        postorderTraversal(root.right)
        print(root.val, end=" ")

# Creating a binary tree
root = Node('D')
root.left = Node('B')
root.left.left = Node('C')
root.left.right = Node('E')
root.left.right.left = Node('A')
root.right = Node('F')

# Performing postorder traversal
postorderTraversal(root)

C A E B F D

In [ ]:
def isValid(s):
    stack = []
    bracket_mapping = {'(': ')', '{': '}', '[': ']'}

    for char in s:
        if char in bracket_mapping:
            stack.append(char)
        elif char in bracket_mapping.values():
            if not stack or bracket_mapping[stack.pop()] != char:
                return False

    return not stack


# Test cases
print(isValid("( )"))  # Output: True
print(isValid("( )[ ]{ }"))  # Output: True
print(isValid("( ]"))  # Output: False

True
True
False

In [ ]:
n = int(input("Enter a number: "))

if n <= 2:
    print("the number is prime")
else:
    for i in range(2,n):
        if n%i==0:
            print("the number is not a prime")
            break
    else:
        print(n,"is a prime number")

In [ ]:
n=int(input("enter the number"))

fact=1
i=1
while i<=n:
    fact=fact*i
    i+=1
print(fact)

In [ ]:
def fact(n):
    if n==0:
        return 1
    else:
        return n*fact(n-1)
print("Factorial of",fact(3))

In [ ]:
for row in range(7):
    for col in range(5):
        if col==0 or row==0 or row==3 or row==6 :
            print("*",end="")
        else:
            print("",end="")
    print()

In [ ]:
def palindrome(n):
    string = str(n)
    rev = string[::-1]
    if string==rev:
        print(f"{n} is a palindrome.")
    else:
        print(f"{n} is not a palindrome.")
n = input("Enter a number: ")
palindrome(n)

Enter a number: soo
soo is not a palindrome.

In [ ]:
for num in range(1,15):
    if num%2==0 and num%3==0:
        print("karunyauniversity")
    elif num%2==0:
        print("karunya")
    elif num%3==0:
        print("university")
    else:
        print(num)

EXNO:2

In [ ]:
def arm(n):
    st=str(n)
    ndig=len(st)
    arm = 0
    for dig in st:
        arm +=int(dig)**ndig
    if arm == n:
        print("arm")
    else:
        print("not a arm")
n = int(input("Enter a number: "))
arm(n)

In [ ]:
def is_perfect_number(num):

    div = []
    for i in range(1, num):
        if num % i == 0:
            div.append(i)

    divisors_sum = sum(div)
    return divisors_sum == num

number = int(input("Enter a positive integer: "))
if is_perfect_number(number):
    print(number, "is a perfect number.")
else:
    print(number, "is not a perfect number.")

In [ ]:
def is_happy_number(num):
    seen_numbers = set()

    while num != 1 and num not in seen_numbers:
        seen_numbers.add(num)
        num = sum(int(digit) ** 2 for digit in str(num))

    return num == 1

number = int(input("Enter a positive integer: "))
if is_happy_number(number):
    print(number, "is a happy number.")
else:
    print(number, "is not a happy number.")

In [ ]:
def up(s):
    count = 0
    for char in s:
        if char.isupper():
            count += 1
    return count

def lo(s):
    count = 0
    for char in s:
        if char.islower():
            count += 1
    return count

def wh(s):
    count = 0
    for char in s:
        if char.isspace():
            count += 1
    return count

input_string = input("Enter any string: ")
print("Uppercase:", up(input_string))
print("Lowercase:", lo(input_string))
print("Whitespaces:", wh(input_string))

In [ ]:
def div(num):
    ls=num[-1]
    divs=[]
    for i in range(1,ls+1):
        if ls%i==0:
            divs.append(i)
    if (len(divs))>0:
        print("\n",ls," :",end=" ")
        for div in divs:
            print(div,end=" ")
div([6, 7, 8,10])
div([1, 2, 5, 7, 9])
div([1, 3, 5, 7, 9, 12])

EXNO3

In [ ]:

def sw(n1,n2):
    sw1=n2[0]+n1[1:]
    sw2=n1[0]+n2[1:]
    result= sw1+" "+sw2
    return result

n1 = input("Enter the first string: ")
n2 = input("Enter the second string: ")
sw(n1,n2)

In [ ]:
def re(st):
    c1=st[0]
    new=c1+st[1:].replace(c1,"*")
    return new
n=str(input("enter yor name:"))
re(n)

enter yor name:eeeeeeee

'e*******'

In [ ]:
def second(string):
    words = string.split()
    word_counts = {}

    for word in words:
        word_counts[word] = word_counts.get(word, 0) + 1

    sorted_words = sorted(word_counts, key=word_counts.get, reverse=True)
    second_most_common_word = sorted_words[1]

    return second_most_common_word

input_string = input("Enter a string: ")
second(input_string)

In [ ]:
if __name__ == '__main__':
    s = input()
    print(any(map(str.isalnum, s)))
    print(any(map(str.isalpha, s)))
    print(any(map(str.isdigit, s)))
    print(any(map(str.islower, s)))
    print(any(map(str.isupper, s)))

In [ ]:
n = "hello welcome"
lst = ["l", "w", "m", "e"]
out = {x: n.count(x) for x in set(lst)}
print( out)

In [ ]:

def notb(s1):
    snot = s1.find('not')
    spoor = s1.find('poor')

    if snot != -1 and spoor != -1 and spoor > snot:
        s1 = s1[:snot] + 'good' + s1[spoor+4:]

    return s1

print(notb('The movie is not that poor!'))
print(notb('The movie is poor!'))

In [ ]:
items = input("black:")
items=list(map(str,items.split(",")))
print(",".join(list(set(items))))

In [ ]:
string = input("Enter string: ")
substring = input("Enter substring: ")

count = string.count(substring)

print("Occurrences of substring:", count)

EXNO4

In [ ]:
def large(list1):
    list1.sort()
    print("Second Largest element is:", list1[-2])
    print("Second Smallest element is:", list1[1])

list1 = [12, 45, 2, 41, 31, 10, 8, 6, 4]
large(list1)

Second Largest element is: 41
Second Smallest element is: 4

In [ ]:
list1=input("enter the list")
list1=list(map(int,list1.split(",")))
rev=list1[::-1]
print(rev)

enter the list3,2,4,1,23,5
[5, 23, 1, 4, 2, 3]

In [ ]:
import collections
list1=input("enter the list")
list1=list(map(int,list1.split(",")))

collections.Counter(list1)

enter the list4,3,4,3,4,3,5,4,5

Counter({4: 4, 3: 3, 5: 2})

In [ ]:
def duplicates(lst):
    return list(set(lst))


a = [10, 20, 30, 20, 10, 50, 60, 40, 80, 50, 40]
duplicates(a)

[40, 10, 80, 50, 20, 60, 30]

In [ ]:
import random
a = []
n = 10
for j in range(n):
    a.append(random.randint(1,50))
print(a)

[43, 32, 22, 38, 9, 9, 1, 5, 22, 17]

In [ ]:
list1 = input("Enter elements of the list")
list1 = list(map(int,list1.split(",")))

list1.sort()
print(list1[0])
print(list1[-1])

Enter elements of the list1,2,3,4,5,34,23
1
34

EXNO5

In [ ]:
inventory = {
'gold' : 500,
'pouch' : ['flint', 'twine', 'gemstone'],
'backpack' : ['xylophone','dagger', 'bedroll','bread loaf']
}
inventory['pocket']=['seashell', 'strange berry', 'lint']
inventory['backpack'].sort()
inventory['backpack'].remove('dagger')
inventory['gold']=inventory['gold']+50
print(inventory)

{'gold': 550, 'pouch': ['flint', 'twine', 'gemstone'], 'backpack': ['bedroll', 'bread loaf', 'xylophone'], 'pocket': ['seashell', 'strange berry', 'lint']}

In [ ]:
prices={}
prices["banana"]=4
prices["apple"]= 2
prices["orange"]= 1.5
prices["pear"]= 3
stock={}
stock["banana"]= 6
stock["apple"]= 0
stock["orange"] =32
stock["pear"]= 15
for food in prices:
    print(food)
    print("price:" ,prices[food])
    print("stock:" ,stock[food])
    total=0

for price in prices:
    money= prices[price]*stock[price]
    print(money)
    total=total +money
    print("The total money is", total)

banana
price: 4
stock: 6
apple
price: 2
stock: 0
orange
price: 1.5
stock: 32
pear
price: 3
stock: 15
24
The total money is 24
0
The total money is 24
48.0
The total money is 72.0
45
The total money is 117.0

In [ ]:
shopping_list = ["banana", "orange", "apple"]
stock = { "banana": 6, "apple": 0, "orange": 32, "pear": 15 }
prices = { "banana": 4, "apple": 2, "orange": 1.5, "pear": 3 }
def compute_bill(food):
    total=0
    for x in food:
        price= prices[x]
        if stock[x]>0:
            total=total +price
            stock[x]=stock[x] -1
            print(total)
compute_bill(shopping_list)

4
5.5

In [ ]:
lloyd = {"name" : "Lloyd", "homework" : [90.0, 97.0, 75.0, 92.0], "quizzes" : [88.0, 40.0, 94.0], "tests" : [75.0, 90.0]}
alice = {"name" : "Alice", "homework" : [100.0, 92.0, 98.0, 100.0], "quizzes" : [82.0, 83.0, 91.0], "tests": [89.0, 97.0]}
tyler = {"name" : "Tyler", "homework" : [0.0, 87.0, 75.0, 22.0], "quizzes": [0.0, 75.0, 78.0], "tests": [100.0, 100.0]}
sts = [lloyd,alice,tyler]
for st in sts:
    print(st["name"])
    print(st["homework"])
    print(st["quizzes"])
    print(st["tests"])
    def average(numbers):
        total = sum(numbers)
        total = float(total)
        media = total / (len(numbers))
        print(media)

Lloyd
[90.0, 97.0, 75.0, 92.0]
[88.0, 40.0, 94.0]
[75.0, 90.0]
Alice
[100.0, 92.0, 98.0, 100.0]
[82.0, 83.0, 91.0]
[89.0, 97.0]
Tyler
[0.0, 87.0, 75.0, 22.0]
[0.0, 75.0, 78.0]
[100.0, 100.0]

In [ ]:
with open("1023.txt", "r") as myfile:
   my_data = myfile.read()
rev_data = my_data[::-1]
print("Reversed data = ",rev_data)

In [ ]:
with open('urk22ai1023.txt','r') as firstfile, open('URK22AI1023.txt','a') as secondfile:
    for line in firstfile:
	    secondfile.write(line)

In [ ]:
my_list = ["abc", "phy", "and", "okay", "educate", "learn", "code"]
print("The list is :")
print(my_list)
my_result = []
my_vowel = "aeiou"
print("The vowels are:",end="")
print(my_vowel)
for index in my_list:
   my_flag = False
   for element in my_vowel:
      if index.startswith(element):
         my_flag = True
         break
   if my_flag:
      my_result.append(index)
print("The result is :",end="")
print(my_result)

The list is :
['abc', 'phy', 'and', 'okay', 'educate', 'learn', 'code']
The vowels are:aeiou
The result is :['abc', 'and', 'okay', 'educate']

In [ ]:
n = int(input("Enter the number of lines: "))
f = open("readLine.txt", "r")
for i in range(0, n):
  line = f.readline()
  print(line)#To write a python program to read n lines from a file.

In [ ]:
f = open("readLine.txt", "r")
s = f.read()
lst = s.split()
print(max(lst, key=len))#To write a python program to find the longest word in a file.

In [ ]:
class Worker:
    def __init__(self, name, salary_rate):
        self.name = name
        self.salary_rate = salary_rate

    def pay(self, hours):
        pass


class DailyWorker(Worker):
    def init (self, name, salary_rate):
        super().__init__(name, salary_rate)

    def pay(self, days):
        return self.salary_rate * days

class SalariedWorker(Worker):
    def init (self, name, salary_rate):
        super().__init__(name, salary_rate)

    def pay(self, hours):
        if hours == 40:
            return self.salary_rate * hours
        else:
            return self.salary_rate * 35

dw = DailyWorker("soorya", 1000)
print(dw.pay(5))

sw = SalariedWorker("dinesh", 1020)
print(sw.pay(35))

5000
35700

In [ ]:
class Employee:
    def __init__(self,emp_id,name,basic_salary):
        self.emp_id = emp_id
        self.name = name
        self.basic_salary = basic_salary
    def calculate_gross_salary(self):
        pass
    def calculate_tax(self):
        gross_salary = self.calculate_gross_salary()
        if gross_salary <= 5000:
            return 0
        elif gross_salary <= 10000:
            return 0.1*gross_salary
        else:
            return 0.2 * gross_salary
    def calculate_net_salary(self):
        tax = self.calculate_tax()
        return self.calculate_gross_salary()-tax

class Manager(Employee):
    def __init__(self,emp_id,name,basic_salary):
        super().__init__(emp_id,name,basic_salary)
    def calculate_gross_salary(self):
        return self.basic_salary + 0.1 * self.basic_salary
class Engineer(Employee):
    def __init__(self,emp_id,name,basic_salary):
        super().__init__(emp_id,name,basic_salary)
    def calculate_gross_salary(self):
        return self.basic_salary + 0.2 * self.basic_salary


emp1 = Manager(1,"soorya",300000)
emp2 = Engineer(2,"dinesh",100000)

while True:
    print("Menu:\n1.Gross salary,net,tax \n2.Exit")
    choice = int(input("Enter your choice:"))
    if choice == 1:
        emp = int(input("Enter Employee ID:"))
        if emp == 1023:
            print("Employee ID:1023\nEmployee name:soorya")
            print(f"Gross selary:{emp1.calculate_gross_salary()}")
            print(f"net:{emp1.calculate_net_salary()}")
            print(f"tax:{emp1.calculate_tax()}")
        elif emp== 1022:
            print("Employee ID:1022\nEmployee name:dinesh")
            print(f"Gross selary:{emp2.calculate_gross_salary()}")
            print(f"net:{emp2.calculate_net_salary()}")
            print(f"tax:{emp2.calculate_tax()}")

        else:
            print("Invalid employee id:")


    elif choice == 2:
        break

Menu:
1.Gross salary,net,tax
2.Exit
Enter your choice:1
Enter Employee ID:1023
Employee ID:1023
Employee name:soorya
Gross selary:330000.0
net:264000.0
tax:66000.0
Menu:
1.Gross salary,net,tax
2.Exit
Enter your choice:2

In [ ]:
class EM:
    def __init__(self,id,name,bs):
        self.id=id
        self.name=name
        self.bs=bs
    def cal_gs(self):
        pass
    def cal_tax(self):
        gs=self.cal_gs()
        if gs<=5000:
            return 0
        elif 5000< gs <=10000:
            return 1.2
        else:
            return 2.2
    def net_s(self):
        tax=self.cal_tax()
        return self.cal_gs()-tax
class Man(EM):
    def __init__(self,id,name,bs):
        super().__init__(id,name,bs)
    def cal_gs(self):
        return self.bs+1.2*self.bs

class En(EM):
    def __init__(self,id,name,bs):
        super().__init__(id,name,bs)
    def cal_gs(self):
        return self.bs+2.2*self.bs
emp1=Man(1023,'soorya',100000)
emp2=En(1048,'hari',200000)

while True:
    print("m\nN1.gross,net,tax\nN2.exit")
    choice = int(input("Enter your choice:"))
    if choice == 1:
        emp=int(input("id"))
        if emp==1023:
            print("Employee ID:1023\nEmployee name:soorya")
            print("Gross selary:",emp1.cal_gs())
            print(f"net:{emp1.net_s()}")
            print(f"tax:{emp1.cal_tax()}")
        elif emp==1048:
            print("Employee ID:1048\nEmployee name:hari")
            print(f"Gross selary:{emp2.cal_gs()}")
            print(f"net:{emp2.net_s()}")
            print(f"tax:{emp2.cal_tax()}")

        else:
            print("Invalid employee id:")
    elif choice ==2:
        break

m
N1.gross,net,tax
N2.exit

In [ ]:


import tkinter as tk

class Calculator:
    def __init__(self, master):
        self.master = master
        master.title("Simple Calculator")

        self.result_var = tk.StringVar()
        result_label = tk.Label(master, textvariable=self.result_var, font=("Arial", 16))
        result_label.pack(padx=10, pady=10)

        button_frame = tk.Frame(master)
        button_frame.pack(padx=10, pady=10)

        add_button = tk.Button(button_frame, text="+", command=lambda: self.calculate("+"))
        add_button.pack(side=tk.LEFT, padx=5)

        sub_button = tk.Button(button_frame, text="-", command=lambda: self.calculate("-"))
        sub_button.pack(side=tk.LEFT, padx=5)

        mult_button = tk.Button(button_frame, text="", command=lambda: self.calculate(""))
        mult_button.pack(side=tk.LEFT, padx=5)

        div_button = tk.Button(button_frame, text="/", command=lambda: self.calculate("/"))
        div_button.pack(side=tk.LEFT, padx=5)

        clear_button = tk.Button(button_frame, text="Clear", command=self.clear)
        clear_button.pack(side=tk.LEFT, padx=5)

        quit_button = tk.Button(button_frame, text="Quit", command=master.quit)
        quit_button.pack(side=tk.LEFT, padx=5)

        self.num1_entry = tk.Entry(master, font=("Arial", 16))
        self.num1_entry.pack(padx=10, pady=10)

        self.num2_entry = tk.Entry(master, font=("Arial", 16))
        self.num2_entry.pack(padx=10, pady=10)

    def calculate(self, operator):
        num1 = float(self.num1_entry.get())
        num2 = float(self.num2_entry.get())

        if operator == "+":
            result = num1 + num2
        elif operator == "-":
            result = num1 - num2
        elif operator == "*":
            result = num1 * num2
        elif operator == "/":
            result = num1 / num2

        self.result_var.set(str(result))

    def clear(self):
        self.num1_entry.delete(0, tk.END)
        self.num2_entry.delete(0, tk.END)
        self.result_var.set("")

root = tk.Tk()
calculator = Calculator(root)
root.mainloop()